{% extends "base-fullscreen.html" %}
{% load crispy_forms_filters %}

{% block content %}
<div id="app-layout-body" class="container-fluid body-content">
  <div id="div-logged-out" class="d-flex justify-content-center" style="height: 100vh;">
    <div class="text-center" style="background-color: #F9CECD; padding: 50px; border-radius: 10px; text-align: center; margin: 50px;">
      <h1 class="text-center">Login</h1>

      {% if form.errors %}
        <div class="alert alert-danger">
          Your username and password didn't match. Please try again.
        </div>
      {% endif %}

      {% if next %}
        <div class="alert alert-info">
          Please login to see this page.
        </div>
      {% endif %}

      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form|crispy }}

        <div class="form-group text-center">
          <input type="submit" value="Login" class="btn btn-primary" />
          <input type="hidden" name="next" value="{{ next }}" />
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
